# Text Formatin/formation/concatination

In [1]:
first name = "Muhammad Talha"

print(first name)

SyntaxError: invalid syntax (<ipython-input-1-8a01d7f091ff>, line 1)

In [2]:
0name = 'Talha'

SyntaxError: invalid syntax (<ipython-input-2-ecaff3db1742>, line 1)

In [3]:
student^name = "Talha"

SyntaxError: can't assign to operator (<ipython-input-3-4b967ffcc75f>, line 1)

In [4]:
student_name = "Talha"
print(student_name)

Talha

In [6]:
a = len("Talha") # return function
print(a)
print(a)
print(a)

5
5
5

In [7]:
a = print("Talha") # non-return function
print(a)
print(a)
print(a)

Talha
None
None
None

# Concatenation
* **+**
* variable_name.format(var1,var2,var3)
* `f'`Student name: {var1} `

In [14]:
first_name = "Muhammad"
last_name = "Talha"
institute_name = "Saylani Mass IT Training"

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name + " " + last_name

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Talha

In [15]:
first_name = "Muhammad"
last_name = "Talha"
institute_name = "Saylani Mass IT Training"
age = 20

card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name + " " + last_name + "\nAge is: " + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 20
print(age, type(age))

# type casting
age

In [17]:
first_name = "Muhammad"
last_name = "Talha"
institute_name = "Saylani Mass IT Training"
age = 20

card = """Institute Name:{}
Student Full Name:{} {}
Age:{}
""".format(institute_name, first_name,last_name,age)

print(card)

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

In [18]:
print(card)

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

In [19]:
print(len(card))

80

In [20]:
print(card.capitalize())

Institute name:saylani mass it training
student full name:muhammad talha
age:20

In [21]:
print(card.casefold()) # inline

institute name:saylani mass it training
student full name:muhammad talha
age:20

In [22]:
print(card) # Inmemory

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

In [23]:
print(card)
card.count('a')

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

10

In [24]:
print(card)
card.count('talha')

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

0

In [25]:
print(card)
card.casefold().count('talha')

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Talha
Age:20

1

In [ ]:
print(card)
card.